@model CalculationInputModel

<h2>Simple Calculator</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="FirstNumber"></label>
    <input type="number" asp-for="FirstNumber" /> <br />
    <span asp-validation-for="FirstNumber" class="text-danger"></span><br />

    <label asp-for="SecondNumber"></label>
    <input type="number" asp-for="SecondNumber" /> <br />
    <span asp-validation-for="SecondNumber" class="text-danger"></span><br />

    <p>
        <label asp-for="Result"></label>
        <span asp-for="Result">@Model?.Result</span>
    </p>

    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Add">+</button>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Subtract">-</button>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Multiply">*</button>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Divide">/</button>
    <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Index">C</button>
</form>

<p>
<div id="partialZone">

</div>
</p>
@section Scripts{
    <script>
        $('#partialZone').load("/Home/ResultsPartial")
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}