@model CalculationInputModel
@{
    ViewData["Title"] = "Simple Calculator";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="FirstNumber"></label>
    <input type="number" asp-for="FirstNumber" /> <br />
    <span asp-validation-for="FirstNumber" class="text-danger"></span><br />

    <label asp-for="SecondNumber"></label>
    <input type="number" asp-for="SecondNumber" /> <br />
    <span asp-validation-for="SecondNumber" class="text-danger"></span><br />

    <p>
        <label asp-for="Result"></label>
        <input asp-for="@ViewData["Result"]" readonly="true" /> <br />
    </p>

    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Add">+</button>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Subtract">-</button>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Multiply">*</button>
    <button type="submit" class="btn btn-primary">/</button>
    <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Index">C</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}